[Unit]
Description=Discord-AutoRooms
After=multi-user.target
[Service]
EnvironmentFile=-/path/to/environment/file/
WorkingDirectory=/path/where/autorooms.py/exists
User=yourusername
Group=yourgroupname
ExecStart=/path/to/python3.6/in/venv /path/to/autorooms.py
Type=idle
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
